*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    
    width: 100%;
    background-color: #B4D0E7;
    padding: 10rem 0rem 0rem 0rem;
}
nav{
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    font-size: 0.7rem;
}
nav .section-nav{
    display: flex;
    flex-wrap: nowrap;
   
}
ul{
    list-style: none;
}
nav .section-nav ul{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
}

.section-nav ul li img{
    max-height: 2rem;
}
.button-1{
    background-color: #2361FF;
    color: white;
    font-size: 0.8em;
    padding: 0.5em 1em;
    border: 1px solid #2361FF;
}
.header-container{
    width: 70%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;

}
.header-container h1{
    font-size: 50px;
}
.header-container img{
    max-width: 500px;
    margin-inline: auto;
    flex: 4 1 auto;
    
}
.main-header{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 2rem;
    font-size: 0.6em;
}
.main-header img{
    margin-bottom: -30px;
}
.p-container{
    flex: 1 2 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}
body{
    margin-top: 3rem;
}
main{
    margin-top: 5rem;
    font-size: 0.8em;
}
.restringed-container{
    width: 60%;
    margin-inline: auto;
}
.restringed-container .piano-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
    font-size: 0.8em;
    margin-bottom: 5rem;
}
.fatturazione{
    margin-top: 3rem;
    display: flex;
 
}
.fatturazione ul{
    padding-inline-start: 0;
    display: flex;
    gap: 1rem;
}
.radio-b{
    height: 1em;
    width: 1em;
    border-radius: 100%;
    background-color: black;
    display: inline-block;
}
.radio-b-a{
    height: 1em;
    width: 1em;
    border-radius: 100%;
    background-color: rgb(176, 61, 61);
    display: inline-block;
}
.radio-b:hover{
    display: none;
}
.radio-b:hover .radio-b-a{
    background-color: #B4D0E7;
}

.long-card .main-card-1 h3{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.piano-container .card{
    width: calc((100% - 2rem) / 3);
    border: 2px solid #E5E5E6;
    gap: 1em;
    display: flex;
    flex-direction: column;


}
.card .top-card{
    border-bottom: 2px solid #E5E5E6;
    padding: 0.9em;
    text-align: center;
    
}
.card ul li{
    display: flex;
    gap: 0.5em;
}
.card .main-card-1{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;

}
.card ul{
    padding-inline-start: 0;
}
.card ul li{
    margin-top: 1em;
}
.clear-bar{
    height: 1rem;
    width: 20%;
    border-bottom: 2px solid#E5E5E6;
}
.main-card-2{
    width: 80%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1em;
}
.solution{
    margin-top: 1em;
}
.foto-section{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 2rem;
}
.foto-section section{
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.foto-section img{
    width: 60%;
}
.foto-section section h2{
    margin-bottom: 1rem;
}
.feature{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.feature-card-container{
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}
.feature-card{
    display: flex;
    flex-direction: column;
    
    width: calc((100% - 4rem) / 3);
}

.feature-card img{
    width: 100%;
}   
.crediti{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.square-section{
    width: 100%;
    display: flex;
}
.square-section .left-right-square{
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.square-section .left-right-square .square{
    width: 50%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.a{
    background-color: violet;
    
    
}
.square svg{
    width: 60%;
    fill: white;
}
.b{
    background-color: red;

}
.c{
    background-color: green;
}
.d{
    background-color: #2361FF;
}
.square-center{
    width: calc(100% / 3);
    aspect-ratio: 1;
    background-color: #B4D0E7;
}